<% flash.each do |name, msg| %>
   <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>

<h1> Please sign up</h1>

<%= form_for(@user) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.submit "submit" %>

<% end %>

<h2> Or if you are already a member, <%= link_to "click here", sessions_new_path %></h2>
<h2> OR if you are already signed in, <%= link_to "click here", current_user %></h2>